    <div class="container mt-10" id="target1">
        <div class="row text-center">

            <div class="col-md-6 offset-md-3">

                <div class="row">
                    <div class="col-12 p-4">
                        <h3>Corrupt or Not?</h3>
                        <h1>{{currentPolitician.name}}</h1>
                        <h3>{{currentPolitician.description}}</h3>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-12 ">
                        <img src="{{currentPolitician.image}}" class="d-block mx-auto img-fluid">
                    </div>
                </div>

                <div class="row text-center mt-3">
                    <div class="col-6">
                        <div class="d-grid">
                            <button class="btn btn-danger btn-lg" type="button" (click)="onVote(true)">Corrupt</button>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg" type="button" (click)="onVote(false)">Not Corrupt</button>
                        </div>
                    </div>
                </div>

                <section name="results">

                    <div class="row text-center mt-3">
                        <div class="col-12">

                            <p class="lead">{{message}}</p>
                            <div [hidden]="hideLoginForm">



                                <!--ONLY SHOW FROM HERE ONCE USER ENTERS EMAIL ADDRESS OR IS LOGGED IN - (ADD PASSWORD FUNCTIONALITY, BUT DO NOT USE FOR NOW, JUST EMAIL TO 'LOGIN')-->

                                <p>
                                    <!-- Button trigger modal -->
                                    <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="showDialog()">
                                    How we use data/privacy</a>
                                </p>



                                <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="row g-1" novalidate>
                                    <div class="col col-sm-12 col-md-4">
                                        <label for="name" class="visually-hidden">First name</label>
                                        <input type="text" class="form-control" id="name" placeholder="First name" formControlName="name">
                                    </div>

                                    <div class="col col-sm-12 col-md-4">
                                        <label for="email" class="visually-hidden">Email</label>
                                        <input type="email" class="form-control" id="email" placeholder="Valid email" formControlName="email" required>
                                    </div>
                                    <div class="col col-sm-12 col-md-4">
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary mb-3">
                                                Confirm
                                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div [hidden]="hideChartArea">
                                <p class="lead">{{currentPolitician.name}}'s results are:</p>
                                <p class="lead"><strong>{{this.selectedPercent.toFixed()}}%</strong> people think {{currentPolitician.name}} is <span id="hiddenScore">{{selectedResult}}!</span>
                                    <p>
                                        <div class="p-1">
                                                  <canvas baseChart
                                                          [data]="pieChartData"
                                                          [type]="pieChartType"
                                                          [options]="pieChartOptions"
                                                          [plugins]="pieChartPlugins">
                                                  </canvas>

                                        </div>
                                        <div class="container d-flex justify-content-center mt-200">
                                            <div class="row">
                                                <div class="col-md-12 p-3">
                                                    <h3><button class="btn btn-primary btn-lg" (click)="onNext()"><i class="fas fa-redo"></i> Vote Next</button></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id='resultBox'></div>


                                </div>

                            </div>

                        </section>


                    </div>

                </div>

            </div>