    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="container">
            <a class="navbar-brand mobile-only" href="index.html">Corrupt or Not? You decide!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="">Vote!</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/the-most']">The Most</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/the-least']">The Least</a>
                    </li>

                    <li class="nav-item" [hidden]="hasLogged">
                        <a class="nav-link" href='#' (click)="onlogout()">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>